<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0">
	<display-name>dsw</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:xml/RootContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>dsw_mvc1_1</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>spring.profiles.active</param-name>
			<param-value>1_1</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:xml/bean*.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>dsw_mvc1_2</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>spring.profiles.active</param-name>
			<param-value>1_2</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:xml/bean*.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>dsw_mvc1_3</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>spring.profiles.active</param-name>
			<param-value>1_3</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:xml/bean*.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>dsw_mvc1_4</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>spring.profiles.active</param-name>
			<param-value>1_4</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:xml/bean*.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>dsw_mvc1_5</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>spring.profiles.active</param-name>
			<param-value>1_5</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:xml/bean*.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dsw_mvc1_1</servlet-name>
		<url-pattern>/1/1/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dsw_mvc1_2</servlet-name>
		<url-pattern>/1/2/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dsw_mvc1_3</servlet-name>
		<url-pattern>/1/3/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dsw_mvc1_4</servlet-name>
		<url-pattern>/1/4/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dsw_mvc1_5</servlet-name>
		<url-pattern>/1/5/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
